section {
  background-image: url(../images/sunrise-over-the-earth.jpg);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section h1 {
  color: white;
  font-size: 20vw;
  font-weight: 100;
  margin: 0;
  padding-top: 10vh;
}

section p {
  color: white;
  font-size: 1vh;
  align-self: baseline;
}
